[submodule "themes/pelican-svbhack"]
	path = themes/pelican-svbhack
	url = https://github.com/gfidente/pelican-svbhack.git
[submodule "themes/pelican-plugins"]
	path = themes/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = https://github.com/getpelican/pelican-themes
[submodule "jgruber99.github.io"]
	path = jgruber99.github.io
	url = https://github.com/jgruber99/jgruber99.github.io
[submodule "pelican-plugins/jupyter"]
	path = pelican-plugins/jupyter
	url = git://github.com/danielfrg/pelican-ipynb.git
